.comment-options,
video[controls]{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.issueheader{
  position: static !important;
}