.notice.is-info,
.is-lead,
.js-post-field-footer,
.container:not(.header--container) a[href*="/users/"]:not(.ublock-safe),
.post--licensing--edited{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

[id$="_license_id"]:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}