.post--licensing--edited{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

#answer_license_id:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}