.notice.is-info,
.post--licensing--edited{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

[id$="_license_id"]:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}