.previewnote{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

span.ed:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}