.diff-progressive-loader,
.anim-rotate,
div[data-hide-on-error],
DIV[class="position-relative d-flex flex-justify-between py-6 mt-6 f6 text-gray border-top border-gray-light "],
DIV[class="protip"],
DIV[class="flash flash-warn mt-3"],
DIV[class="signup-prompt-bg rounded-1"],
DIV[class="container mb-4 js-notice"],
DIV[class="flash-messages"],
A[class="header-logo-invertocat"],
DIV[class="signup-promptp-4text-centermb-4rounded-1"],
DIV[class="containermb-4js-notice"],
DIV[class="new-user-avatar-ctamb-4py-2px-3js-notice"],
DIV[class*="user-profile-sticky-bar"],
DIV[class="UnderlineNav user-profile-nav js-sticky top-0 is-stuck"],
DIV[class*="repo-file-upload-tree-target"],
FORM[class="ajax-pagination-form js-ajax-pagination col-10 js-show-more-timeline-form"],
DIV[class="new-user-avatar-cta mb-4 py-2 px-3 js-notice"],
DIV[class="pb-3"],
A[class="logo logo-img-1x"],
A[class="edit-org tooltipped tooltipped-e"],
svg[class="octicon octicon-link"],
A[href="/marketplace"],
A[class="tabnav-extra"],
SPAN[class="d-inline-block  px-2"],
P[class="merge-pr-more-commits"],
DIV[class="f6 text-gray mt-4"],
DIV[class="container-lg p-responsive"],
SPAN[class="d-none d-lg-block  px-2"],
DIV[class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light "],
DIV[class="issues-reset-query-wrapper"],
A[href="/explore"],
IMG[class="mr-2 header-search-key-slash"],
A[href="/pricing"],
A[href="/business"],
A[href="/features"],
DIV[class="py-2 px-3 f5 rounded-0"],
DIV[class="Header-item"],
SPAN[class="label bg-purple text-uppercase"],
DIV[class="d-block f6 bg-purple no-underline text-bold text-uppercase text-white text-center"],
SUMMARY[class="Header-link"],
A[class="Box-btn-octicon btn-octicon float-right"],
BUTTON[class="float-right d-block text-center mr-2 btn-link re-request-icon"],
DIV[class="Header-item mr-0 mr-lg-3 flex-order-1 flex-lg-order-none"],
DIV[class="pt-2 js-related-issues-suggestions-results-wrapper clearfix"],
P[class="text-gray f6 mt-4"],
A[class="Header-link"],
SUMMARY[class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap  d-inline-block"],
CLIPBOARD-COPY,
UL[class="d-lg-flex list-style-none"],
BUTTON[name="re_request_reviewer_id"],
DIV[class="footer container-lg width-full p-responsive"],
DIV[class="d-flex flex-items-center flex-auto"],
FORM[class="position-relative overflow-hidden rounded-2 mb-4 js-notice-dismiss"],
svg[class="drag-handle"],
DIV[class="signup-prompt signup-prompt-unpacking mx-auto mb-6 p-4 border rounded-2"],
SPAN[class="tooltipped tooltipped-nw"],
DIV[class="signup-prompt mx-auto mb-6 p-4 border rounded-2"],
DIV[class="new-user-avatar-cta mb-4 py-2 px-3 js-notice hide-sm hide-md hide-lg"],
LI[class=" mr-3 mr-lg-3"],
DIV[class="mt-5 text-gray-light text-center"],
A[class="text-small link-gray "],

.drag-and-drop .default,
.css-truncate > .text-gray-light,
.css-truncate > include-fragment,
span[aria-label^="Request review from "],
span[aria-label^="Request review from "] ~ *,
.js-issue-row:not(.ublock-safe),
.octicon-mark-github,
.Header-item.d-none.d-lg-flex,
.up-tree.js-navigation-item,
/*.blob-code.blob-code-context,*/
.Header-item.flex-order-1.flex-md-order-none,
.border-top.color-border-secondary.pt-3.mt-3.d-none.d-md-block,
.progress-pjax-loader,
.wiki-rightbar > *:not(#wiki-pages-box),
html body div[class*="discussion-spotlights-sortable"],
.js-header-promo-hide,

.gh-header-shadow.box-shadow{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

textarea{
  height: 1000px !important;
  max-height: 1000px !important;
}

/*.tooltipped:active:after,
.tooltipped:active:before,
.tooltipped:focus:after,
.tooltipped:focus:before,
.tooltipped:hover:after,
.tooltipped:hover:before{
  display: none !important;
}*/

.is-stuck,
.d-flex.flex-justify-between.px-3:not(.container-lg),
table.highlight:not(.ublock-safe),
.BorderGrid-row:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

*{
  transition: none !important;
}

.sticky-file-header,
.toolbar-shadow{
  position: static !important;
}

::-webkit-input-placeholder{
  visibility: hidden !important;
}

.header-search-input{
  color: transparent !important;
}

.pl-token:hover{
  background: transparent !important;
  cursor: default !important;
  pointer-events: none !important;
}

.js-file-line *{
  cursor: text !important;
  background: none !important;
}