.drag-and-drop .default,
.css-truncate > .text-gray-light,
.css-truncate > include-fragment,
span[aria-label^="Request review from "],
span[aria-label^="Request review from "] ~ *,
.js-issue-row:not(.ublock-safe),
.octicon-mark-github,
.gh-header-shadow.box-shadow{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

textarea{
  height: 1000px !important;
  max-height: 1000px !important;
}

/*.tooltipped:active:after,
.tooltipped:active:before,
.tooltipped:focus:after,
.tooltipped:focus:before,
.tooltipped:hover:after,
.tooltipped:hover:before{
  display: none !important;
}*/

.is-stuck,
.d-flex.flex-justify-between.px-3:not(.container-lg),
table.highlight:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

*{
  transition: none !important;
}

.sticky-file-header,
.toolbar-shadow{
  position: static !important;
}

::-webkit-input-placeholder{
  visibility: hidden !important;
}

.header-search-input{
  color: transparent !important;
}