textarea{
  height: 1000px !important;
  max-height: 1000px !important;
}

input.form-control.header-search-input{
  color: transparent !important;
}

.d-flex.flex-justify-between.px-3:not(.container-lg){
  opacity: 0 !important;
}