.is-stuck,
.drag-and-drop .default,
.gh-header-shadow.box-shadow{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

textarea{
  height: 1000px !important;
  max-height: 1000px !important;
}

input.form-control.header-search-input{
  color: transparent !important;
}

.d-flex.flex-justify-between.px-3:not(.container-lg){
  opacity: 0 !important;
}

/*.tooltipped:active:after,
.tooltipped:active:before,
.tooltipped:focus:after,
.tooltipped:focus:before,
.tooltipped:hover:after,
.tooltipped:hover:before{
  display: none !important;
}*/

table.highlight:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

*{
  transition: none !important;
}