#appbar,
#taw,
.sfbgx,
#sfcnt,
#extrares,
.gb_Ja.gb_7f.gb_f.gb_6f.gb_of,
[data-id*="refinement" i],
scrolling-carousel,
.cj2HCb,
.islrc > div:not(.ublock-safe),
.islrh > div:not(.ublock-safe),
.VFACy.kGQAp,
[data-waitmessage*="load" i],
.gb_Qd.gb_bd.gb_na,
.xERobd,
g-section-with-header,
.AVSjFc,
.g:not(.ublock-safe),
.cLjAic:not(.ublock-safe),
.OeVqAd,
#Yf1RJc,
.isv-r.PNCib.J3Tg1d,
.rTylWd,
.h312td,
.gb_5c,

a[href="#"]{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

#center_col:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

#searchform{
  position: static !important;
  margin-top: 30px;
}

.A8SBwf.emcav,
.A8SBwf.sbfc,
.SSBXXc{
  width: 640px !important;
  padding-left: 27px !important;
}

.JSAgYe{
  width: 492px !important;
}