a[href*="stock"],
a[href*="depositphotos"],
a[href*="gograph"],
a[href*="ftcdn"],
a[href*="alamy"],
a[href*="dreamstime"],
a[href*="featurepics"],
a[href*="carolweaver"],
a[href*="fastly"],
a[href*="fotosearch"],
a[href*="freepik"],
a[href*="whoa"],
a[href*="wallpaper"],
a[href*="123rf"],
a[href*="envato"],
a[href*="gettyimages"],
a[href*="freeimages"],
a[href*="colourbox"],
a[href*="cloudfront"],
a[href*="fotolibra"],
a[href*="photobucket"],
a[href*="onepixel"],
a[href*="foap"],
a[href*="glossboudoir"],
a[href*="clipdealer"],

a[href*="flickr"],
a[href*="dailymail"],
a[href*="cdninstagram"],

a[href*="w3mirchi"],
a[href*="astrologypandit"],
a[href*="lookaside"],
a[href*="crystalandcomp"],
a[href*="pinimg"],
a[href*="blogspot"],
a[href*="daz3d"],
a[href*="wikihow"],
a[href*="uidownload"],
a[href*="secondlife"],
a[href*="artstation"],
a[href*="cgivault"],
a[href*="etsystatic"],
a[href*="wordpress"],
a[href*="patreon"],
a[href*="shadywady"],
a[href*="leadyourlove"],
a[href*="epicedgephotography"],
a[href*="brainyquote"],
a[href*="stack.imgur"],
a[href*="uigradients"],
a[href*="techdows"],
a[href*="askvg"],
a[href*="redd.it"],

a[href*="ytimg"],
a[href*="yimg"],
a[href*="alicdn"],
a[href*="narvii"],
a[href*="maxpixel"],
a[href*="sguru"],
a[href*="atgbcentral"],
a[href*="cdn."],
a[href*="qygjxz"],
a[href*="teamusa"],
a[href*="appuals"],
a[href*="i1.wp"],
a[href*="researchgate"],
a[href*="your-camping"],
a[href*="uspa"],
a[href*="epicgames"],
a[href*="proartinc"],
a[href*="hdtimelapse"],
a[href*="dwh-club"],
a[href*="scitepress"],

a[href*=".gif&"],

#appbar,
#taw,

a[href="#"]{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

#center_col:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}