footer,
address,
jdiv,

*[id*="footer" i]:not(#not-footer):not(#queryboxfooter),
*[id*="copyright" i],
*[id*="newsletter" i],
*[id*="countryList" i],
*[id*="hint" i],
*[id*="partner" i],
*[id*="banner" i],
*[id*="watermark" i],
*[id*="logo" i],
*[id$="_ad" i],
*[id="foot" i]:not(*[role="navigation"]),
*[id*="share" i],
*[id*="addthis" i],
*[id*="sponsor" i],
*[id*="promos" i],
*[id^="feed" i],
*[id*="loading" i]:not(.is-loading):not(.is-graph-loading),
*[id*="spinn" i],
*[id*="rss" i],
*[id*="popup" i]:not(.ytp-popup),

*[class*="footer" i]:not(.main-wrapper-for-sticky-footer):not(.tblFooters):not(*[href*="/morelikethis/"]):not(.rounded-cr-footer):not(.stream-item-footer),
*[class*="copyright" i],
*[class*="newsletter" i],
*[class*="countryList" i],
*[class*="hint" i],
*[class*="partner" i],
*[class*="banner" i]:not(*[class$="--banner"]):not(.no-nav-banners),
*[class*="watermark" i],
*[class*="logo" i],
*[class$="_ad" i],
*[class="foot" i],
*[class*="share" i],
*[class*="addthis" i],
*[class*="sponsor" i],
*[class*="promos" i],
*[class^="feed" i],
*[class*="loading" i]:not(.is-loading):not(.is-graph-loading),
*[class*="spinn" i],
*[class*="rss" i],
*[class*="popup" i]:not(.ytp-popup):not(.js-profile-popup-actionable),

div[id*="hero-"],
div[id*="-hero"],
div[id*="herobox"],
div[class*="hero-"],
div[class*="-hero"],
div[class*="herobox"],
img[src*="banner" i],

*[id*="scrollup" i],
*[id*="back-to-top" i],
*[class*="scrollup" i],
*[class*="back-to-top" i],
form[action*="paypal"],

/* google */
#snackbar,
#fbar,
#hplogo,
.jsb,
*[id*="additional_languages"],
.gstl_0.sbdd_a,
#msgb,
div[role="alert"],
#actual_password_warning,
.gb_Ea.gb_Oa,
#makechangesarea .updates,
.material-icons,

/* instagram */
._j8mem._6in6f,

/* quora */
.HyperLinkBundle,
.SuggestedUsersBundle,
.SuggestedTopicsBundle,
.linked_content,
.SimpleToggle.ContentPageFeed.Toggle,
.linked_content,

/* zimbio */
.game-share,
/* pexels */
.navbar__list.pull-right li:nth-child(2),
.js-loading,
canvas#error,
canvas#error + div,

/* outlook.office.com */
._lvv_Z,

/* stack exchange */
#hireme,
.module.sidebar-related,
.sidebar-linked,
#tm-header,
#sidebar,
.tm-unicorn-back,
div[aria-label="ask new question"],
.post-menu,
div[id^="comments-link-"],
.js-cursor-container,

/* wikipedia */
.uls-lcd-region-section.uls-lcd-quicklist,

/* the pirate bay */
#searchResult:not(.ublock-safe),
a[href*="protect-your-privacy"],
a[href*="bitbigs"],

/* desmos */
.dcg-loading-div-container,

/* pdfpit */
.footer + div,

/* npm */
#upsell,

/* monorail */
*[icon="settings"],
#makechanges .h4,

/* travis */
.loading-screen,

/* chromedevtools */
#mainToolbar,

.beta-preloader,

::-webkit-scrollbar,
#_eEe,
.ublock-hidden{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

img[src$=".gif" i],
img[src*=".gif?" i],
*[style*=".gif" i]{
  /*visibility: hidden !important;*/
}

::-webkit-input-placeholder{
  visibility: hidden !important;
}

body:not(.env-production) a,
body:not(.env-production) a:link,
body:not(.env-production) a:visited,
body:not(.env-production) a:hover,
body:not(.env-production) a:active{
  color: blue !important;
}

/*body,
header{
  margin-top: 0px !important;
  border-top: 0px !important;
}*/

*{
  text-decoration-line: none !important;
}

/*header{
  position: absolute !important;
}*/

textarea{
  height: 1e3px !important;
  min-height: 1e3px !important;
  max-height: 1e3px !important;
}

#star_cell{
  opacity: 0 !important;
}

.nH.w-asV.aiw{
  box-shadow: none !important;
}

/* pexels */
.hero{
  background-image: none !important;
}

/* pexels */
.photo-details{
  margin-top: 300px !important;
}

/* github */
.Header.f5{
  height: 54px !important;
}

/* desmos */
#graph-container{
  top: 0px !important;
}

/* monorail */
#summary-float,
#meta-float,
mr-header{
  position: relative !important;
  top: 0px !important;
}

/* monorail */
.emphasized{
  background: none !important;
}

#content{
  border: 0px !important;
}

#left-sidebar{
  opacity: 0 !important;
  pointer-events: none !important;
}

.ublock_visible{
  opacity: 1 !important;
  pointer-events: auto !important;
}

.ublock_hidden{
  opacity: 0 !important;
  pointer-events: none !important;
}

img[src*="wixmp"]:not(*[alt]),
video:not(*[controls]){
  cursor: none !important;
}

.modal-open{
  overflow: auto !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

/*.col-md-8{
  width: 100% !important;
}*/

/* ### https://bugs.chromium.org/
.comment-options,
.bottom-section-cell,
#makechanges,
.code-font-and-description-edit,
.material-icons.expand-icon,
#editForm .star-line,
#message.cue,
chops-toggle,
.role-label,
chops-snackbar,
video{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.comment-options{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.issueheader,
.issue-header-container,
mr-issue-metadata{
  position: static !important;
}

:host{
  padding-top: 0px !important;
}

::-webkit-input-placeholder{
  visibility: hidden !important;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: blue !important;
}
*/

.ublock-rot-0 video{ transform: rotate(0deg) !important; }
.ublock-rot-1 video{ transform: rotate(90deg) !important; }
.ublock-rot-2 video{ transform: rotate(180deg) !important; }
.ublock-rot-3 video{ transform: rotate(270deg) !important; }

/* chromedevtools */
.param,
.param:hover{
  border: 0px !important;
}

/* virustotal */
.url.style-scope.vt-app{
  position: static !important;
}

/* translate.google.co.uk */
body.displaying-homepage .frame{
  height: 100% !important;
}