[data-nosnippet="data-nosnippet"],
[id*="campaignmidpage"],
.noprint.date,
img[src="/img/gitea-sm.png"],
a[href*="carbon-negative"],
html.set-header--floating #header_wrapper,
[class*="sticky"][class*="stuck"],
.my-6.justify-center.items-center.text-center.px-4,

section.border-yellow-500,

#siteNotice,
#p-lang,
.promlinks,
form[action*="paypal" i],
[aria-label="loading" i],
bottomlinks,
.draft-saved,
#draft-saved,
.sk-circle,

/* https://www.puzzle-*.com/ */
input[class="clock"],
a[class="disable-ads"],
a[href="/patron.php"],
#shareContainer,
#shareContainer + p,
#moreGamesBnr,
#Side,
#noncomph,
.icon-spin,

/* discord */
.form-2fGMdU,

/*body > hr:nth-last-child(-n + 2),
body > center:nth-last-child(-n + 2),*/

.widget ~ .has-color-green-600,
a[href*="feed.rss"],
.grid--cell.is-4-lg.is-12,

/* google */
#snackbar,
#fbar,
#hplogo,
.jsb,
*[id*="additional_languages"],
.gstl_0.sbdd_a,
#msgb,
div[role="alert"],
#actual_password_warning,
.gb_Ea.gb_Oa,
#makechangesarea .updates,
.material-icons,
.iblpc,
.g-Yd.a-la-B.a-Ff-B.a-la-B-gc-rk.g-Yd-Ya.g-Yd-Na,
g-loading-icon,
.mspin-medium,
[class^="mspin-"],
.bgW,
div[data-hveid="CAwQAA"],

/* gmail */
.vX.UC,
[role="contentinfo"],

/* instagram */
._j8mem._6in6f,

/* quora */
.HyperLinkBundle,
.SuggestedUsersBundle,
.SuggestedTopicsBundle,
.linked_content,
.SimpleToggle.ContentPageFeed.Toggle,
.linked_content,

/* zimbio */
.game-share,
/* pexels */
.navbar__list.pull-right li:nth-child(2),
.js-loading,
canvas#error,
canvas#error + div,

/* outlook.office.com */
._lvv_Z,

/* stack exchange */
#hireme,
.module.sidebar-related,
.sidebar-linked,
#tm-header,
#sidebar,
.tm-unicorn-back,
div[aria-label="ask new question"],
.post-menu,
div[id^="comments-link-"],
.js-cursor-container,
header.top-bar.js-top-bar,
header.site-header,
a[href="/questions/ask"],
svg.iconHistory,
.theme-selector,
.bottom-notice,

/* wikipedia */
.uls-lcd-region-section.uls-lcd-quicklist,
.mw-mmv-progress,
.mw-mmv-repo-button-commons,

/* the pirate bay */
a[href*="protect-your-privacy"],
a[href*="bitbigs"],
.attribution,
#jscrwarn2,

/* desmos */
.dcg-loading-div-container,

/* pdfpit */
.footer + div,

/* npm */
#upsell,

/* monorail */
*[icon="settings"],
#makechanges,

/* travis */
.loading-screen,

/* chromedevtools */
#mainToolbar,
.beta-preloader,
.networkLag,
.scroll-to-top,
#scroll-to-top,

/* chromium */
.new-link,
.snackbar-container,

/* discord */
.container-16j22k.fixClipping-3qAKRb,

#lotal,

a[href*="bitlord.me/"],

.headlink,
.headerlink,

body > p[align="center"]:last-child,
body > nav.nav[role="navigation"]:first-child,

#stl_bg,
html body *[id*="inline-video-adv"],
html body *[class*="inline-video-adv"],

img[alt*="getty images"i],
html:not(.ublock-ordinary-scrollbar) ::-webkit-scrollbar,
#_eEe,

figure,
aside:not(.metadata-container):not([data-track-label="projects_side_navigation"]),

.uk-notification.uk-notification-top-center,
[id*="countrysort" i],

.ublock-hidden{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

#searchResult:not(.ublock-safe),
hr + center:not(.ublock-safe),
body:not(.ublock-show-gifs) img[src$=".gif" i],
body:not(.ublock-show-gifs) img[src*=".gif?" i],
body:not(.ublock-show-gifs) *:not(.download) > *[style*=".gif" i],
::-webkit-input-placeholder{
  visibility: hidden !important;
  pointer-events: none !important;
}

html:not(.ublock-ordinary-links):not([ublock-style="ordinary-links"]) body:not(.env-production) a,
html:not(.ublock-ordinary-links):not([ublock-style="ordinary-links"]) body:not(.env-production) a:link,
html:not(.ublock-ordinary-links):not([ublock-style="ordinary-links"]) body:not(.env-production) a:visited,
html:not(.ublock-ordinary-links):not([ublock-style="ordinary-links"]) body:not(.env-production) a:hover,
html:not(.ublock-ordinary-links):not([ublock-style="ordinary-links"]) body:not(.env-production) a:active{
  color: blue !important;
}

/* https://www.puzzle-*.com/ */
#MainContainer{
  border: 0px !important;
}

/*body,
header{
  margin-top: 0px !important;
  border-top: 0px !important;
}*/

a{
  text-decoration-line: none !important;
}

/*header{
  position: absolute !important;
}*/

html:not(.ublock-ordinary-ta) textarea{
  height: 1e3px !important;
  min-height: 1e3px !important;
  max-height: 1e3px !important;
}

#star_cell{
  opacity: 0 !important;
}

.nH.w-asV.aiw{
  box-shadow: none !important;
}

/* pexels */
.hero{
  background-image: none !important;
}

/* pexels */
.photo-details{
  margin-top: 300px !important;
}

/* github */
.Header.f5{
  height: 54px !important;
}

/* desmos */
#graph-container{
  top: 0px !important;
}

/* monorail */
#summary-float,
#meta-float,
mr-header{
  position: relative !important;
  top: 0px !important;
}

/* monorail */
.emphasized{
  background: none !important;
}

#content{
  border: 0px !important;
}

#left-sidebar{
  opacity: 0 !important;
  pointer-events: none !important;
}

.ublock_visible{
  opacity: 1 !important;
  pointer-events: auto !important;
}

.ublock_hidden{
  opacity: 0 !important;
  pointer-events: none !important;
}

img[src*="wixmp"]:not(*[alt]),
video:not(*[controls]){
  cursor: none !important;
}

.modal-open{
  overflow: auto !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

/*.col-md-8{
  width: 100% !important;
}*/

/* ### https://bugs.chromium.org/
.comment-options,
.bottom-section-cell,
#makechanges,
.code-font-and-description-edit,
.material-icons.expand-icon,
#message.cue,
chops-toggle,
.role-label,
chops-snackbar,
mr-cue[cueprefname="availability_msgs"],
mr-cue[cueprefname="code_of_conduct"],
.new-link,
.comment-options,
video{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.issueheader,
.issue-header-container,
th,
mr-issue-metadata{
  position: static !important;
}

:host{
  padding-top: 0px !important;
}

::-webkit-input-placeholder{
  visibility: hidden !important;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: blue !important;
}
*/

.issueheader,
.issue-header-container,
th,
mr-issue-metadata{
  position: static !important;
}

mr-app{
  padding-top: 0px !important;
}

#editForm > .star-line{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.ublock-rot-0 video{ transform: rotate(0deg) !important; }
.ublock-rot-1 video{ transform: rotate(90deg) !important; }
.ublock-rot-2 video{ transform: rotate(180deg) !important; }
.ublock-rot-3 video{ transform: rotate(270deg) !important; }

/* chromedevtools */
.param,
.param:hover{
  border: 0px !important;
}

/* virustotal */
.url.style-scope.vt-app{
  position: static !important;
}

/* translate.google.co.uk */
body.displaying-homepage .frame{
  height: 100% !important;
}

.ublock-video{
  width: auto !important;
  height: auto !important;
}

.ublock-rot-0 .ublock-video,
.ublock-rot-2 .ublock-video{
  width: 100% !important;
  height: 100% !important;
}

.ublock-rot-1 .ublock-video,
.ublock-rot-3 .ublock-video{
  width: 100% !important;
  height: 100% !important;
}

/* esolangs */
#eof.n{
  opacity: 0 !important;
  pointer-events: none !important;
}

/*img[src^="file:///"]{
  background: #dae5d6;
}*/

*{
  /*transition: none !important;*/
  tab-size: 2 !important;
  outline: none !important;
}

.top-bar._fixed{
  position: absolute !important;
}

/*html body :hover{
  opacity: 1 !important;
}*/

/*img{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%, 25% 97%, 0% 97%, 0% 0%) !important;
}*/

/* hackage.haskell.org */
#synopsis{
  overflow: scroll !important;
}

html[bgcolor],
body[bgcolor],
html[color],
body[color]{
  background: #fff !important;
  color: #000 !important;
}

html:not(.ublock-ordinary-overflow) body[style*="overflow: hidden"]{
  overflow: auto !important;
}

/*.navbar,
nav{
  position: relative !important;
}*/

html body header[class*="sticky"]{
  position: relative !important;
}

#statusbarholder{
  user-select: none !important;
}