.signup_login_buttons,
.NameCredential,
.credibility_wrapper,
.ui_layout_photo_wrapper,
.BelowQuestionAddPrompt,
.header_logo{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.pagedlist_item:not(.ublock-safe),
.UnifiedAnswerPagedList:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

.SiteHeader{
  position: static !important;
  border-top: 0px !important;
}

.ContentWrapper{
  padding-top: 32px !important;
}