.l-header-container.l-header-container--refresh,
.l-container.l-container--two-column-dashboard,
.post_content_inner.safemode,
.tx-button.show-me,
.post_permalink,
.post_media:not(.ublock-safe),
.reblog-content:not(.ublock-safe),
.reblog-avatar,
.popover,
.indash_blog > .header{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.drawer.peepr-drawer-container.open{
  right: 0px !important;
  width: 100% !important;
}

body{
  background-color: #fafafa !important;
}

.reblog-header{
  padding-left: 0px !important;
}