h2,
div[id="right-column"],
div[id="uvTab"],
div[class="header__sign-btns"],
div[class="explaination-box"],
div[style*="text-align: center; font-size: 14px"],
a[class="sample-box-cross quarantine-btn"],
div[class="sample-box-actions-share"],
div[id="footer"],
li[class="paytime-action"],
p[style*="text-align: center"],
a[class="sample-box-profile-pict"][href="/en/profile/thx4dahelp"],
div[class="sample-box sample-box--premium"],
div[class="profile__tagline-holder"],
a[id="sign-off-btn"][class="block right"],
input[id="recorder-submit"] + P,
#fancybox-loading,
#spinner,
#right-column
{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}