#header_outer,
#header_space,
#actionbar,
#sidebar,
.sp_expert_icon,
#sliderbox,
.donate,
.qa_show_unanswered_questions,
#qa_box,
.relatedwikihows,
.sourcesandcitations,
#article_info_section,
.reference,
#gdpr{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

img{
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 31px),
    0% calc(100% - 31px)
  ) !important;
}