#menu-icon,
#guide,
.ytp-bezel,
#ublock_yt-overlay,
.ytp-bound-time-left,
.ytp-bound-time-right,
.ytp-scrubber-pull-indicator,
#yt-masthead-user,
#spinner,
.ytp-hover-progress,
.annotation,
#contentContainer,
.ytp-fullerscreen-edu-button,
/*#less,
#more,*/

*[id*="promot" i],
*[class*="promot" i],
*[arial-label*="promot" i],

*[class*="skeleton"]:not(*[class*="hide-skeleton"]),
*[id*="logo"],
*[icon="paper-tabs:chevron-left"],

iron-a11y-announcer,
iron-overlay-backdrop,
yt-page-navigation-progress,
ytd-channel-renderer,
ytd-shelf-renderer,
ytd-horizontal-card-list-renderer,
ytd-thumbnail-overlay-resume-playback-renderer{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

body:not(.ublock-safe){
  opacity: 0 !important;
  pointer-events: none !important;
}

*[autofocus]{
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.style-scope.ytd-searchbox{
  border-right-color: rgb(203, 204, 204);
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

#search-form{
  border-right-width: 0px !important;
}

.style-scope.ytd-watch-next-secondary-results-renderer:not(#items),
ytd-compact-video-renderer,
div[class*="ytp-"]:not(#movie_player),
div[id="items"][class*="ytd-watch-next-secondary-results-renderer"],
ytd-expander.ytd-video-secondary-info-renderer,
ytd-comments,
#movie_player:not(.ytp-fullscreen),
ytd-comment-thread-renderer:not(.ublock-safe),
#description:not(.ublock-safe),
yt-view-count-renderer{
  opacity: 0;
  pointer-events: none;
}

.ytp-popup,
.ytp-popup *{
  opacity: 1 !important;
  pointer-events: auto !important;
}

video{
  top: 0px !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.html5-video-player{
  z-index: 2147483646;
}

ytd-searchbox{
  display: block !important;
}

#video-title:not(*[class*="ublock_safe"]),
h1.title:not(*[class*="ublock_safe"]){
  visibility: hidden !important;
}

#player{
  background-color: black !important;
}

#page-manager{
  margin-left: 0px !important;
}

#creator-page-content{
  margin-left: 0px !important;
}

body.ub1 img.style-scope.yt-img-shadow{
  /* 280 250 */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 72% 75%, 72% 100%, 0% 100%, 0% 0%) !important;
}

body.ub2 img.style-scope.yt-img-shadow{
  /* 242 250 */
  clip-path: polygon(25% 0%, 75% 0%, 75% 25%, 100% 25%, 100% 100%, 0% 100%, 0% 25%, 25% 25%) !important;
}

body.ub3 img.style-scope.yt-img-shadow{
  /* 122 1000 */
  clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%, 13% 100%) !important;
}

#masthead-container{
  position: static !important;
  transition-duration: 0s !important;
}

#search::-webkit-input-placeholder{
  visibility: hidden !important;
}

.html5-video-player{
  cursor: none !important;
}

#page-manager{
  margin-top: 0px !important;
}

#header{
  position: static !important;
  margin-top: 0px !important;
  transform: none !important;
}

.ytp-progress-bar-container{
  height: 5px !important;
}

.ytp-scrubber-button{
  height: 20px !important;
}