#player,
#player-container-outer,
#player-container-inner{
  max-width: 854px !important;
  max-height: 480px !important;
  width: 854px !important;
  height: 480px !important;
}

#primary{
  max-width: 854px !important;
  width: 854px !important;
}

#player-container-inner{
  padding: 0px !important;
}

body ytd-watch-flexy[flexy_] #player-container-outer.ytd-watch-flexy,
body #primary-inner,
body #primary{
  margin: 0px !important;
  width: 854px !important;
  max-width: 854px !important;
  min-width: 854px !important;
}